/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "summernote-bs4";

/*　common */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover{
  color: black;
}
header, nav, article, aside, section, footer {
  display:block;
}
body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.img-wrap{
  cursor: pointer;
  transition-duration: 0.3s;
}
.img-wrap:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}
.pagination {
  padding: 0;
  padding-top: 30px;
}


/* header */
.brand-img {
  height: 50px;
  padding-right: 20px;
}
.navbar {
  background-image: url('wood.jpg');
  background-size: 100% 100%;
}
.navbar-brand {
  font-weight: bold;
}
.nav-item {
  width: 135px;
  text-align: center;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, .2);
}
.nav-link,
.nav-link::before,
.nav-link::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* body */
main > .row {
  margin: 0;
}
.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('woodhouse.jpg');
  background-size: cover;
  overflow: hidden;
}
.bg-cover {
  background-color: rgba(255,255,255,0.8);
}
.white {
  width: 98%;
  background-color: white;
  border-radius: 20px;
}


/* _post-item */
.article-img {
  height: 150px;
  width: 240px;
  object-fit: cover;
}
.article-headline {
  font-size: 24px;
  font-style: bold;
}
.article-sub {
  border-bottom: solid 1px;
  color: darkgray;
}
.article-date {
  margin-bottom: 0;
  font-size: 14px;
}
.article-text {
  padding-top: 10px;
  font-size: 16px;
}
.article-category {
  font-size: 12px;
  font-weight: bold;
  padding: 1px 5px;
  color: white;
  border-radius: 10px;
}
.drawing {
  background-color: #eb6ea0;
}
.technology {
  background-color: limegreen;
}
.baseball {
  background-color: royalblue;
}
.others {
  background-color: saddlebrown;
}


/* posts#index */
.carousel-item > img {
  width: 100%;
  max-height: 400px;
}


/* posts#index, category#show */
.headline {
  background-color: darkblue;
  color: white;
  font-size: 28px;
  font-weight: bold;
}


/* posts#show */
#article-title {
  font-size: 28px;
  padding: 30px 0;
}
#related-headline {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px  10px;
  border-left-color: navy;
  border-left-style: solid;
  border-left-width: 5px;
  background-color: #EEEEEE;
  color: black;
}
#related-headline > h2 {
  font-weight: bold;
  font-size: 20px;
}


/* sidebar */
.jumbotron > .col-md-4 {
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
#sidebar {
  background-image: url('wood-side.jpg');
  background-size: cover;
  padding-bottom: 50px;
}
#sidebar > aside{
  padding: 50px 0;
}
.sidebar-section {
  margin-top: 40px;
  margin-bottom: 10px;
}
.sidebar-section:first-child {
  margin-top: 0px;
}
.sidebar-headline {
  width: 100%;
  padding: 2px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #75A9FF;
}
.sidebar-headline > h3{
  text-align: center;
  color: white;
  margin: 2px auto;
  border-top: dashed 1.5px;
  border-bottom: dashed 1.5px;
}
.recent-article {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  color: #c0c0c0;
  border: solid 2px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
 	transition: .3s;
}
.recent-img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.recent-article:hover {
  box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
 	transform: translateY(-4px);
}
.recent-headline {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  font-size: 2.0vw;
  color: black;
}
.archive-item {
  margin: 0 auto;
  width: 90%;
  border-color: #FFF;
  border-bottom: dashed 2px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  color: gray;
}
#profile-img {
  width: 90%;
  max-width: 200px;
}
#profile-text {
  padding-top: 30px;
  font-size: 14px;
  margin: 0 auto;
  width: 90%;
}


/* footer */
.footer-copyright {
  color: white;
}
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4689FF;
  opacity: 0.8;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0aa';
  font-size: 35px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 25px;
  right: 10px;
  left: 0;
  margin: auto;
  text-align: center;
}


/* md */
@media screen and (max-width: 992px) {
  .article-img {
    height: 130px;
    width: 208px;
  }
  .article-headline {
    font-size: 18px;
  }
  .article-date {
    font-size: 10.5px;
  }
  .article-text {
    font-size: 12px;
  }
  .navbar-nav {
    padding-top: 20px;
  }
  .nav-item {
    text-align: left;
  }
}

/* sm */
@media screen and (max-width: 767px) {
  .jumbotron {
    padding-top: 60px;
  }
  .sidebar {
    padding-bottom: 30px;
  }
  .recent-headline {
    font-size: 18px;
  }
}
